<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>state</th>
      <th>cases</th>
      <th>cases_per_100k</th>
      <th>deaths</th>
      <th>deaths_per_100k</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Alabama</td>
      <td>830</td>
      <td>16.927772</td>
      <td>5</td>
      <td>0.101975</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Arizona</td>
      <td>929</td>
      <td>12.763238</td>
      <td>18</td>
      <td>0.247296</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Arkansas</td>
      <td>449</td>
      <td>14.878369</td>
      <td>6</td>
      <td>0.198820</td>
    </tr>
    <tr>
      <th>3</th>
      <td>California</td>
      <td>6266</td>
      <td>15.858384</td>
      <td>130</td>
      <td>0.329012</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Colorado</td>
      <td>2315</td>
      <td>40.199794</td>
      <td>47</td>
      <td>0.816151</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Connecticut</td>
      <td>1993</td>
      <td>55.900128</td>
      <td>34</td>
      <td>0.953640</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Delaware</td>
      <td>232</td>
      <td>23.825075</td>
      <td>6</td>
      <td>0.616166</td>
    </tr>
    <tr>
      <th>7</th>
      <td>District of Columbia</td>
      <td>342</td>
      <td>48.459155</td>
      <td>4</td>
      <td>0.566774</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Florida</td>
      <td>4942</td>
      <td>23.009873</td>
      <td>59</td>
      <td>0.274703</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Georgia</td>
      <td>2683</td>
      <td>25.269785</td>
      <td>83</td>
      <td>0.781734</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Idaho</td>
      <td>310</td>
      <td>17.346879</td>
      <td>6</td>
      <td>0.335746</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Illinois</td>
      <td>4613</td>
      <td>36.403608</td>
      <td>70</td>
      <td>0.552407</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Indiana</td>
      <td>1514</td>
      <td>22.488870</td>
      <td>32</td>
      <td>0.475326</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Iowa</td>
      <td>336</td>
      <td>10.649526</td>
      <td>4</td>
      <td>0.126780</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Kansas</td>
      <td>332</td>
      <td>11.395957</td>
      <td>7</td>
      <td>0.240276</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Kentucky</td>
      <td>439</td>
      <td>9.826144</td>
      <td>9</td>
      <td>0.201447</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Louisiana</td>
      <td>3540</td>
      <td>76.393502</td>
      <td>152</td>
      <td>3.280173</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Maine</td>
      <td>253</td>
      <td>18.821436</td>
      <td>3</td>
      <td>0.223179</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Maryland</td>
      <td>1244</td>
      <td>20.576676</td>
      <td>11</td>
      <td>0.181948</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Massachusetts</td>
      <td>4955</td>
      <td>71.889704</td>
      <td>48</td>
      <td>0.696409</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Michigan</td>
      <td>5486</td>
      <td>54.932197</td>
      <td>132</td>
      <td>1.321737</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Minnesota</td>
      <td>504</td>
      <td>8.936753</td>
      <td>9</td>
      <td>0.159585</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Mississippi</td>
      <td>759</td>
      <td>25.502755</td>
      <td>14</td>
      <td>0.470407</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Missouri</td>
      <td>903</td>
      <td>14.713004</td>
      <td>12</td>
      <td>0.195522</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Montana</td>
      <td>161</td>
      <td>15.063933</td>
      <td>1</td>
      <td>0.093565</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Nebraska</td>
      <td>137</td>
      <td>7.082270</td>
      <td>2</td>
      <td>0.103391</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Nevada</td>
      <td>920</td>
      <td>29.868617</td>
      <td>15</td>
      <td>0.486988</td>
    </tr>
    <tr>
      <th>27</th>
      <td>New Hampshire</td>
      <td>258</td>
      <td>18.974620</td>
      <td>3</td>
      <td>0.220635</td>
    </tr>
    <tr>
      <th>28</th>
      <td>New Jersey</td>
      <td>13386</td>
      <td>150.706076</td>
      <td>161</td>
      <td>1.812616</td>
    </tr>
    <tr>
      <th>29</th>
      <td>New Mexico</td>
      <td>237</td>
      <td>12.615549</td>
      <td>2</td>
      <td>0.106460</td>
    </tr>
    <tr>
      <th>30</th>
      <td>New York</td>
      <td>59568</td>
      <td>306.206149</td>
      <td>965</td>
      <td>4.960531</td>
    </tr>
    <tr>
      <th>31</th>
      <td>North Carolina</td>
      <td>1167</td>
      <td>11.126913</td>
      <td>6</td>
      <td>0.057208</td>
    </tr>
    <tr>
      <th>32</th>
      <td>North Dakota</td>
      <td>98</td>
      <td>12.966736</td>
      <td>1</td>
      <td>0.132314</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Ohio</td>
      <td>1665</td>
      <td>14.244039</td>
      <td>30</td>
      <td>0.256649</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Oklahoma</td>
      <td>429</td>
      <td>10.841626</td>
      <td>16</td>
      <td>0.404350</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Oregon</td>
      <td>548</td>
      <td>12.992749</td>
      <td>13</td>
      <td>0.308222</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Pennsylvania</td>
      <td>3441</td>
      <td>26.878636</td>
      <td>40</td>
      <td>0.312451</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Rhode Island</td>
      <td>294</td>
      <td>27.752579</td>
      <td>3</td>
      <td>0.283190</td>
    </tr>
    <tr>
      <th>38</th>
      <td>South Carolina</td>
      <td>774</td>
      <td>15.032880</td>
      <td>16</td>
      <td>0.310757</td>
    </tr>
    <tr>
      <th>39</th>
      <td>South Dakota</td>
      <td>90</td>
      <td>10.173411</td>
      <td>1</td>
      <td>0.113038</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Tennessee</td>
      <td>1537</td>
      <td>22.506382</td>
      <td>7</td>
      <td>0.102501</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Texas</td>
      <td>2712</td>
      <td>9.353053</td>
      <td>35</td>
      <td>0.120707</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Utah</td>
      <td>719</td>
      <td>22.426994</td>
      <td>2</td>
      <td>0.062384</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Vermont</td>
      <td>235</td>
      <td>37.660920</td>
      <td>12</td>
      <td>1.923111</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Virginia</td>
      <td>890</td>
      <td>10.427017</td>
      <td>22</td>
      <td>0.257746</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Washington</td>
      <td>4896</td>
      <td>64.295060</td>
      <td>207</td>
      <td>2.718357</td>
    </tr>
    <tr>
      <th>46</th>
      <td>West Virginia</td>
      <td>124</td>
      <td>6.919075</td>
      <td>1</td>
      <td>0.055799</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Wisconsin</td>
      <td>1120</td>
      <td>19.235942</td>
      <td>17</td>
      <td>0.291974</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Wyoming</td>
      <td>87</td>
      <td>15.032164</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>