<table border="1" class="dataframe" id="myTable">
  <thead>
    <tr style="text-align: right;">
      <th></th>
      <th>state</th>
      <th>cases</th>
      <th>cases_per_100k</th>
      <th>deaths</th>
      <th>deaths_per_100k</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th>0</th>
      <td>Alabama</td>
      <td>639</td>
      <td>13.032345</td>
      <td>4</td>
      <td>0.081580</td>
    </tr>
    <tr>
      <th>1</th>
      <td>Arizona</td>
      <td>665</td>
      <td>9.136226</td>
      <td>15</td>
      <td>0.206080</td>
    </tr>
    <tr>
      <th>2</th>
      <td>Arkansas</td>
      <td>386</td>
      <td>12.790758</td>
      <td>3</td>
      <td>0.099410</td>
    </tr>
    <tr>
      <th>3</th>
      <td>California</td>
      <td>4914</td>
      <td>12.436658</td>
      <td>102</td>
      <td>0.258148</td>
    </tr>
    <tr>
      <th>4</th>
      <td>Colorado</td>
      <td>1735</td>
      <td>30.128139</td>
      <td>31</td>
      <td>0.538313</td>
    </tr>
    <tr>
      <th>5</th>
      <td>Connecticut</td>
      <td>1291</td>
      <td>36.210269</td>
      <td>27</td>
      <td>0.757302</td>
    </tr>
    <tr>
      <th>6</th>
      <td>Delaware</td>
      <td>165</td>
      <td>16.944557</td>
      <td>2</td>
      <td>0.205389</td>
    </tr>
    <tr>
      <th>7</th>
      <td>District of Columbia</td>
      <td>304</td>
      <td>43.074804</td>
      <td>4</td>
      <td>0.566774</td>
    </tr>
    <tr>
      <th>8</th>
      <td>Florida</td>
      <td>3198</td>
      <td>14.889837</td>
      <td>46</td>
      <td>0.214175</td>
    </tr>
    <tr>
      <th>9</th>
      <td>Georgia</td>
      <td>2198</td>
      <td>20.701822</td>
      <td>64</td>
      <td>0.602783</td>
    </tr>
    <tr>
      <th>10</th>
      <td>Idaho</td>
      <td>231</td>
      <td>12.926223</td>
      <td>4</td>
      <td>0.223831</td>
    </tr>
    <tr>
      <th>11</th>
      <td>Illinois</td>
      <td>3029</td>
      <td>23.903431</td>
      <td>37</td>
      <td>0.291986</td>
    </tr>
    <tr>
      <th>12</th>
      <td>Indiana</td>
      <td>982</td>
      <td>14.586572</td>
      <td>26</td>
      <td>0.386203</td>
    </tr>
    <tr>
      <th>13</th>
      <td>Iowa</td>
      <td>235</td>
      <td>7.448329</td>
      <td>3</td>
      <td>0.095085</td>
    </tr>
    <tr>
      <th>14</th>
      <td>Kansas</td>
      <td>212</td>
      <td>7.276936</td>
      <td>4</td>
      <td>0.137301</td>
    </tr>
    <tr>
      <th>15</th>
      <td>Kentucky</td>
      <td>302</td>
      <td>6.759671</td>
      <td>8</td>
      <td>0.179064</td>
    </tr>
    <tr>
      <th>16</th>
      <td>Louisiana</td>
      <td>2746</td>
      <td>59.258914</td>
      <td>119</td>
      <td>2.568030</td>
    </tr>
    <tr>
      <th>17</th>
      <td>Maine</td>
      <td>168</td>
      <td>12.498029</td>
      <td>1</td>
      <td>0.074393</td>
    </tr>
    <tr>
      <th>18</th>
      <td>Maryland</td>
      <td>775</td>
      <td>12.819071</td>
      <td>5</td>
      <td>0.082704</td>
    </tr>
    <tr>
      <th>19</th>
      <td>Massachusetts</td>
      <td>3240</td>
      <td>47.007597</td>
      <td>35</td>
      <td>0.507798</td>
    </tr>
    <tr>
      <th>20</th>
      <td>Michigan</td>
      <td>3657</td>
      <td>36.618127</td>
      <td>93</td>
      <td>0.931224</td>
    </tr>
    <tr>
      <th>21</th>
      <td>Minnesota</td>
      <td>398</td>
      <td>7.057198</td>
      <td>4</td>
      <td>0.070927</td>
    </tr>
    <tr>
      <th>22</th>
      <td>Mississippi</td>
      <td>579</td>
      <td>19.454671</td>
      <td>8</td>
      <td>0.268804</td>
    </tr>
    <tr>
      <th>23</th>
      <td>Missouri</td>
      <td>671</td>
      <td>10.932918</td>
      <td>9</td>
      <td>0.146641</td>
    </tr>
    <tr>
      <th>24</th>
      <td>Montana</td>
      <td>121</td>
      <td>11.321341</td>
      <td>1</td>
      <td>0.093565</td>
    </tr>
    <tr>
      <th>25</th>
      <td>Nebraska</td>
      <td>100</td>
      <td>5.169540</td>
      <td>2</td>
      <td>0.103391</td>
    </tr>
    <tr>
      <th>26</th>
      <td>Nevada</td>
      <td>621</td>
      <td>20.161317</td>
      <td>10</td>
      <td>0.324659</td>
    </tr>
    <tr>
      <th>27</th>
      <td>New Hampshire</td>
      <td>187</td>
      <td>13.752922</td>
      <td>2</td>
      <td>0.147090</td>
    </tr>
    <tr>
      <th>28</th>
      <td>New Jersey</td>
      <td>8825</td>
      <td>99.356127</td>
      <td>108</td>
      <td>1.215916</td>
    </tr>
    <tr>
      <th>29</th>
      <td>New Mexico</td>
      <td>191</td>
      <td>10.166962</td>
      <td>1</td>
      <td>0.053230</td>
    </tr>
    <tr>
      <th>30</th>
      <td>New York</td>
      <td>44635</td>
      <td>229.443853</td>
      <td>535</td>
      <td>2.750139</td>
    </tr>
    <tr>
      <th>31</th>
      <td>North Carolina</td>
      <td>783</td>
      <td>7.465615</td>
      <td>3</td>
      <td>0.028604</td>
    </tr>
    <tr>
      <th>32</th>
      <td>North Dakota</td>
      <td>68</td>
      <td>8.997327</td>
      <td>1</td>
      <td>0.132314</td>
    </tr>
    <tr>
      <th>33</th>
      <td>Ohio</td>
      <td>1144</td>
      <td>9.786895</td>
      <td>22</td>
      <td>0.188210</td>
    </tr>
    <tr>
      <th>34</th>
      <td>Oklahoma</td>
      <td>322</td>
      <td>8.137538</td>
      <td>8</td>
      <td>0.202175</td>
    </tr>
    <tr>
      <th>35</th>
      <td>Oregon</td>
      <td>414</td>
      <td>9.815690</td>
      <td>12</td>
      <td>0.284513</td>
    </tr>
    <tr>
      <th>36</th>
      <td>Pennsylvania</td>
      <td>2218</td>
      <td>17.325433</td>
      <td>23</td>
      <td>0.179660</td>
    </tr>
    <tr>
      <th>37</th>
      <td>Rhode Island</td>
      <td>203</td>
      <td>19.162495</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>38</th>
      <td>South Carolina</td>
      <td>539</td>
      <td>10.468634</td>
      <td>13</td>
      <td>0.252490</td>
    </tr>
    <tr>
      <th>39</th>
      <td>South Dakota</td>
      <td>58</td>
      <td>6.556198</td>
      <td>1</td>
      <td>0.113038</td>
    </tr>
    <tr>
      <th>40</th>
      <td>Tennessee</td>
      <td>1062</td>
      <td>15.550929</td>
      <td>6</td>
      <td>0.087858</td>
    </tr>
    <tr>
      <th>41</th>
      <td>Texas</td>
      <td>1942</td>
      <td>6.697503</td>
      <td>23</td>
      <td>0.079322</td>
    </tr>
    <tr>
      <th>42</th>
      <td>Utah</td>
      <td>480</td>
      <td>14.972124</td>
      <td>2</td>
      <td>0.062384</td>
    </tr>
    <tr>
      <th>43</th>
      <td>Vermont</td>
      <td>184</td>
      <td>29.487699</td>
      <td>10</td>
      <td>1.602592</td>
    </tr>
    <tr>
      <th>44</th>
      <td>Virginia</td>
      <td>606</td>
      <td>7.099744</td>
      <td>14</td>
      <td>0.164020</td>
    </tr>
    <tr>
      <th>45</th>
      <td>Washington</td>
      <td>3770</td>
      <td>49.508247</td>
      <td>177</td>
      <td>2.324392</td>
    </tr>
    <tr>
      <th>46</th>
      <td>West Virginia</td>
      <td>96</td>
      <td>5.356703</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
    <tr>
      <th>47</th>
      <td>Wisconsin</td>
      <td>930</td>
      <td>15.972701</td>
      <td>16</td>
      <td>0.274799</td>
    </tr>
    <tr>
      <th>48</th>
      <td>Wyoming</td>
      <td>73</td>
      <td>12.613195</td>
      <td>0</td>
      <td>0.000000</td>
    </tr>
  </tbody>
</table>